

$background-color: #ccc;
$primary-color: #999;
$radius:10px;
$margin:20px;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

section {
    max-width:80vw;
    display: flex;
    margin: $margin auto;
    background: $background-color;
    border-radius:$radius;

    article{
        margin: $margin;
        border-radius:$radius;
        border:1px solid #c0c0c0;
        padding: 1em;
        flex-grow: 1;

        &.post{
            border:1px solid darken($primary-color,50%);
          }
        
        
      }
        
        
      }

    
  

  